

#menu 
{
	
	font-size:40px;
}	
#cuerpo1
{

}
#cuerpo2
{

 
}
#boton
{
color.background:white;
color:black;	
}	
#correo
{
	font-size:30px;
}
body 
{
	background-color:black;
	color:white;
}
h1
{
	text-align:center;
	
}

h2
{
	margin-left:30px;
	color:aqua;
	position:center;
}
